.Footer{
    width: 100%;
    height: 350px;
    // position: fixed;
    // bottom: 0px;
    // background-image: url('https://e-learning.hcmut.edu.vn/theme/image.php/boost/theme/1685588876/hcmut2');-
    background-image: url('https://i.pinimg.com/736x/5f/68/24/5f682422c49e903e6ed1acd500050dd7.jpg');

    position: relative;
    .bgtrans-overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0d5ca1b0;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .footer-content{
            height: 100%;
            width: 90%;
            // background-color: antiquewhite;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .footer-content-detail{
                width: 30%;
                height: 100%;
                // background-color: pink;
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
                @media screen and (max-width:400px)
                {
                    font-size: 20px;
                }
                // {width:'110px',height:'100px'}
                .logoP{
                    width: 200px;
                    height: 100px;
                    @media only screen and (max-width:768px)
                    {
                        width: 200*0.8px;
                        height: 100*0.8px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        background-color: #164399!important;
        text-align: center;
        color: white;
    }

}
@media only  screen and (max-width: 1200px)
{
    .Footer{
        height: 340px;
    }
}
@media only  screen and (max-width: 768px)
{
    .Footer{
        height: 340px;
        font-size: 12px;
    }
}
